<center>
   <h1>
   Seja Bem Vindo ao #PartiuFormar</h2>
</center>
      <p>
      <h3>
         Você estudante da UnB, que deseja otimizar a organização da sua grade curricular no semestre, bem como projetar o seu fluxo para a conclusão do curso, conheça o #PartiuFormar. Aqui você pode realizar o planejamento do curso, sendo possível organizar e criar metas para cada disciplina no semestre. Poderá acompanhar seu desempenho e estimar qual será seu índice de rendimento acadêmico após um semestre.
      </h3>
      </p>